---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import logoImage from "../assets/logo.png";
import ArticleCardLink from "../components/ArticleCardLink.astro";
import GameCardLink from "../components/GameCardLink.astro";
import GeneralCardLink from "../components/GeneralCardLink.astro";
import SeriesCardLink from "../components/SeriesCardLink.astro";
import { POSTS_NAME, SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Page.astro";
import {
  articleInPublishedSeriesFilter,
  findPublishedSeriesIds,
  findSeriesIdWithPublishedArticles,
  publishedFilter,
  publishedOrder,
  titleOrder,
} from "../utils";

const MAX_GAMES = 5;
const MAX_POSTS = 5;
const MAX_ARTICLES = 5;

const games = (await getCollection("games", publishedFilter))
  .sort(publishedOrder)
  .slice(0, MAX_GAMES);

const posts = (await getCollection("posts", publishedFilter))
  .sort(publishedOrder)
  .slice(0, MAX_POSTS);

// Display recent articles, but only though published in a published series
const publishedSeriesId = await findPublishedSeriesIds();
const articles = (
  await getCollection(
    "articles",
    (e) =>
      publishedFilter(e) &&
      articleInPublishedSeriesFilter(publishedSeriesId, e),
  )
)
  .sort(publishedOrder)
  .slice(0, MAX_ARTICLES);

// Display series, but only when they have some content
const seriesIdWithPublishedArticles = await findSeriesIdWithPublishedArticles();
const series = (
  await getCollection(
    "series",
    (e) => publishedFilter(e) && seriesIdWithPublishedArticles.has(e.id),
  )
).sort(titleOrder);
---

<Layout>
  <div class="bg-base-100">
    <div class="flex flex-col md:flex-row items-center justify-center gap-4">
      <Image
        class="max-w-sm rounded-lg shadow-2xl"
        height={256}
        src={logoImage}
        alt="Flat Lit Studio Logo"
      />
      <div class="flex flex-col items-center justify-center">
        <h1 class="text-5xl font-bold">{SITE_TITLE}</h1>
        <h2 class="text-2xl italic py-6">{SITE_DESCRIPTION}</h2>
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-4 mt-2">
    {
      posts.length > 0 && (
        <section class="bg-base-200 p-4">
          <h3 class="text-2xl mb-2">{POSTS_NAME}</h3>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {posts.map((item) => (
              <GeneralCardLink {item} />
            ))}
            <a
              class="flex flex-rol justify-center items-center link link-hover hover:bg-base-100"
              href="/posts"
            >
              More updates
            </a>
          </div>
        </section>
      )
    }

    {
      games.length > 0 && (
        <section class="bg-base-300 p-4 w-full">
          <h3 class="text-2xl  mb-2">Games</h3>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {games.map((item) => (
              <GameCardLink {item} />
            ))}
            <a
              class="flex flex-rol justify-center items-center link link-hover hover:bg-base-100"
              href="/games"
            >
              More games
            </a>
          </div>
        </section>
      )
    }

    {
      series.length > 0 && (
        <section class="bg-base-200 p-4">
          <h3 class="text-2xl mb-2">Series</h3>
          <div class="grid grid-cols-1 gap-4">
            {series.map((item) => (
              <SeriesCardLink {item} />
            ))}
          </div>
        </section>
      )
    }

    {
      articles.length > 0 && (
        <section class="bg-base-300 p-4">
          <h3 class="text-2xl mb-2">Recent articles</h3>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {articles.map((item) => (
              <ArticleCardLink {item} />
            ))}
            <a
              class="flex flex-rol justify-center items-center link link-hover hover:bg-base-100"
              href="/series"
            >
              More articles in series
            </a>
          </div>
        </section>
      )
    }
  </div>
</Layout>
