---
import { getCollection } from "astro:content";
import logoImage from "../assets/logo.png";
import BlogCardLink from "../components/BlogCardLink.astro";
import Hero from "../components/Hero.astro";
import JamCardLink from "../components/JamCardLink.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Page.astro";

const NUM_GAMES = 3;
const NUM_BLOGS = 3;

const pinnedGames = (
  await getCollection("jams", (e) => e.data.pinned && e.data.published)
)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, NUM_GAMES);

const pinnedBlogs = (
  await getCollection("blog", (e) => e.data.pinned && e.data.published)
)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, NUM_BLOGS);

const blogs = [...pinnedBlogs];
if (blogs.length < NUM_BLOGS) {
  const extraBlogs = (
    await getCollection("blog", (e) => !e.data.pinned && e.data.published)
  )
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, NUM_BLOGS - blogs.length);

  blogs.push(...extraBlogs);
}

// Another good quote from same guy
// “I run because if I didn’t, I’d be sluggish and glum and spend too much time on the couch. I run to breathe the fresh air. I run to explore. I run to escape the ordinary. I run...to savor the trip along the way. Life becomes a little more vibrant, a little more intense. I like that.”
// Dean Karnazes
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Hero title={SITE_TITLE} description={SITE_DESCRIPTION} image={logoImage} />
  <blockquote class="border-l-4 pl-8 my-8">
    <p>"Run when you can, walk if you have to, crawl if you must; just never give
    up"</p><em>- Dean Karnazes</em>
  </blockquote>
  <div class="flex flex-col gap-4 mt-2">
    {blogs.length > 0 && (<h3 class="text-2xl">Blogs</h3>
    <section class="flex flex-col lg:flex-row flex-3 w-full gap-16">
      {blogs.map((post) => <BlogCardLink post={post} />)}
    </section>
    <div class="flex flex-rol justify-end">
      <a class="link
      link-primary
      link-hover" href="/blogs"> More </a>
    </div>)}
    {pinnedGames.length > 0 && (<h3 class="text-2xl">Game Jams</h3>
    <section class="flex flex-col lg:flex-row flex-3 w-full gap-16">
      {pinnedGames.map((game) => <JamCardLink {game} />)}
    </section>
    <div class="flex flex-rol justify-end">
      <a class="link
      link-primary
      link-hover" href="/jams"> More </a>
    </div>)}
  </div>
</Layout>
