---
import RSS from "@lucide/astro/icons/rss";
import Bluesky from "simple-icons-astro/Bluesky";
import Github from "simple-icons-astro/Github";
import Instagram from "simple-icons-astro/Instagram";
import Itchdotio from "simple-icons-astro/Itchdotio";
import Reddit from "simple-icons-astro/Reddit";
import Steam from "simple-icons-astro/Steam";
import TikTok from "simple-icons-astro/Tiktok";
import Youtube from "simple-icons-astro/Youtube";
// import Steam from "simple-icons-astro/Steam";
// import TikTok from "simple-icons-astro/Tiktok";
// import Instagram from "simple-icons-astro/Instagram";
// import Reddit from "simple-icons-astro/Reddit";
// import Kofi from "simple-icons-astro/Kofi";
// import Patreon from "simple-icons-astro/Patreon";
import {
  BLUESKY_URL,
  GITHUB_URL,
  // INSTAGRAM_URL,
  ITCH_IO_URL,
  // KOFI_URL,
  // PATREON_URL,
  // REDDIT_URL,
  SITE_TITLE,
  // STEAM_URL,
  // TIKTOK_URL,
  YOUTUBE_URL,
} from "../consts";
import NavLinks from "./NavLinks.astro";

// TODO better menu construction - in that we don't want to repeat our list
// Daisy has submenus.. feel we might want that eventually
---

<header id="header">
  <nav class="navbar bg-base-100 shadow-sm">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"></path>
          </svg>
        </div>
        <ul
          tabindex="-1"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow text-lg"
        >
          <NavLinks />
        </ul>
      </div>
      <a href="/" class="btn btn-ghost text-xl">{SITE_TITLE}</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <NavLinks />
      </ul>
    </div>
    <div class="navbar-end hidden lg:flex gap-2">
      <a href={BLUESKY_URL} target="_blank"><Bluesky /></a>
      <a href={GITHUB_URL} target="_blank"><Github /></a>
      <a href={ITCH_IO_URL} target="_blank"><Itchdotio /></a>
      <a href={YOUTUBE_URL} target="_blank"><Youtube /></a>
      <!-- 
      <a href={REDDIT_URL} target="_blank"><Reddit /></a>
      <a href={STEAM_URL} target="_blank"><Steam /></a>
      <a href={INSTAGRAM_URL} target="_blank"><Instagram /></a>
      <a href={TIKTOK_URL} target="_blank"><TikTok /></a> 
      -->
      <a href={new URL("rss.xml", Astro.site)} target="_blank"><RSS /></a>
    </div>
  </nav>
</header>
