---
import FormattedDate from "./FormattedDate.astro";

// TODO can we derive these from the CollectionEntry
// that uses something Flatten i guess to get a union of possibilities

type Props = {
  publishedDate?: Date;
  updatedDate?: Date;
  jamName?: string;
  jamLink?: string;
  sourceLink?: string;
  videoLink?: string;
  itchLink?: string;
  steamLink?: string;
  series?: string;
};

const {
  jamName,
  jamLink,
  sourceLink,
  videoLink,
  itchLink,
  steamLink,
  publishedDate,
  updatedDate,
  series,
} = Astro.props;
---

<div class="p-2 text-sm flex justify-end flex-row gap-2 text-accent font-bold">
  {
    series && (
      <a class="link link-hover" href={`/series/${series}`}>
        Back to series
      </a>
    )
  }
  {
    steamLink && (
      <a class="link link-hover" href={steamLink} target="_blank">
        Buy [Steam]
      </a>
    )
  }
  {
    itchLink && (
      <a class="link link-hover" href={itchLink} target="_blank">
        Play [Itch.io]
      </a>
    )
  }
  {
    videoLink && (
      <a class="link link-hover" href={videoLink} target="_blank">
        Video
      </a>
    )
  }
  {
    jamLink && (
      <a class="link link-hover" href={jamLink} target="_blank">
        {jamName ?? "Jam"}
      </a>
    )
  }
  {
    sourceLink && (
      <a class="link link-hover" href={sourceLink} target="_blank">
        Source
      </a>
    )
  }
  {
    publishedDate && (
      <span>
        <FormattedDate date={publishedDate} />
      </span>
    )
  }
  {
    updatedDate && updatedDate != publishedDate && (
      <span class="italic">
        Updated <FormattedDate date={updatedDate} />
      </span>
    )
  }
</div>
