---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

type Props = {
  item: Pick<CollectionEntry<"series">, "id" | "data" | "collection">;
  numArticles?: number;
};
const { item, numArticles } = Astro.props;
---

<a href={`/${item.id}/`}>
  <div class="card bg-base-100 w-full shadow-sm">
    {
      item.data.heroImage && (
        <figure>
          <Image
            width={720}
            height={360}
            src={item.data.heroImage}
            alt={item.data.title}
          />
        </figure>
      )
    }
    <div class="card-body">
      <h2 class="card-title">{item.data.title}</h2>
      <p>{item.data.description}</p>
      <div class="flex justify-end text-xs gap-2">
        {
          numArticles != null && (
            <span>
              {numArticles}&nbsp;
              {numArticles == 1 ? "article" : "articles"}
            </span>
          )
        }
      </div>
    </div>
  </div>
</a>
