---
import type { CollectionEntry } from "astro:content";
import Hero from "../components/Hero.astro";
import Meta from "../components/Meta.astro";
import Layout from "./Page.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, heroImage } = Astro.props;
---

<Layout {title} {description}>
  <Hero {title} {description} image={heroImage} />
  <Meta {...Astro.props} />
  <div class="prose mx-auto">
    <slot />
  </div>
</Layout>
